@import "./components/header";
@import "./utils/variables";
@import "./components/title-section";
@import "./components/products";
@import "./components/footer";
@import "./components/modal";
@import "./components/potrfolio";
@import "./components/btn";
@import "./components/container";
@import "./components/blog";
@import "./components/home-page";
@import "./components/post";
@import "./components/kinds_main";
@import "./components/services";