@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  border-bottom-width: 100%;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
    border-bottom-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1px) and (max-width: 767px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__navigation {
  display: flex;
}
.header-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}
.header-list__item {
  margin-right: 50px;
}
.header-list__item:last-child {
  margin-right: 0;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list__item:nth-child(6) {
  margin-left: 450px;
}
.header-list__item:nth-child(7) {
  margin-right: 20px;
}
.header-list__link {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--main-text-color);
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  margin-right: inherit;
}
.header-list__link.current::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--bg-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}
.header-list__link:hover, .header-list__link:focus {
  color: #EAFDFA;
}
.header-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}
.header__container {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 1px) and (max-width: 767px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .header__navigation {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 32px;
  }
}
@media screen and (max-width: 767px) {
  .header__navigation {
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__navigation {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__connect {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .header__connect {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__connect {
    display: flex;
    margin-left: 80px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts:nth-of-type(1) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts:nth-of-type(1) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts {
    font-family: "Inconsolata", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
.header__logo {
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
  }
}
.header__contacts {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  align-items: center;
  margin-right: 30px;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    font-size: 14px;
    line-height: 1.14;
  }
}
.header__contacts:hover, .header__contacts:focus {
  color: var(--accent-color);
}
.header__contacts:hover .header__social-icon, .header__contacts:focus .header__social-icon {
  fill: var(--accent-color);
}
.header__contacts:last-child {
  margin-right: 0;
}

.logo-span--color-dark {
  color: var(--third-text-color);
}

.web {
  color: var(--accent-color);
}

.header__social-icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  align-self: center;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.open-menu-btn__icon {
  fill: black;
}

.mob-menu {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mob-menu-social__icon {
  fill: #000;
}

.mob-menu-list__item {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: var(--accent-color);
}

.mob-menu__connect {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mob-menu__contacts {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mob-menu__contacts-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mob-social {
  display: flex;
}

.mob-menu-social-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.mob-menu-social__item {
  margin-right: 20px;
}

.mob-menu-social__link {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.line {
  display: flex;
  align-self: center;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color:#FFF0CA;
  --mail-text-color: rgba(255, 255, 255, 0.6);
  --social-icon-color: rgba(255, 255, 255, 0.1);
  --first-button-color: #EFD372;
  --second-button-color: #EAFDFA;
  --accent-color: #EFD372;
  --bg-color: #18756B;
  --bg-color-2: #f5f4fa;
  --social-icon-color: #18756B;
  --icon-first-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: "Inconsolata", monospace;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: left;
  width: 360px;
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
    left: 452px;
  }
}

p {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

body {
  font-family: Roboto;
  font-style: normal;
}

.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1 {
  font-family: "Inconsolata", monospace;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: left;
  color: var(--third-text-color);
  width: 360px;
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
    left: 452px;
  }
}

p {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.main-title__section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .main-title__section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
}

.main-title {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1px) and (max-width: 767px) {
  .main-title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/image_1.png);
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) {
  .main-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/image_1.png);
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/image_1.png);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .products__img {
    width: 370px;
    height: 294px;
  }
}

.products {
  padding-bottom: 94px;
}
@media screen and (min-width: 0px) and (max-width: 1199px) {
  .products {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    display: flex;
  }
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .products-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .products-list {
    display: flex;
  }
}
.products-list__item {
  margin-right: 30px;
  position: relative;
}
.products-list__item:last-child {
  margin-right: 0;
}

.products__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.products-list__bottom {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 82px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  position: absolute;
  top: 224px;
  left: 0;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 5px;
  background-color: var(--primary-background-color);
}
.footer--wrap {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.footer__text {
  font-weight: 400;
  font-size: 14px;
  color: var(--second-text-color);
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 16px;
    line-height: 1.19;
  }
}
@media screen and (max-width: 767px) {
  .footer__text span {
    display: block;
    margin-bottom: 10px;
  }
}
.footer__btn {
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  color: var(--second-text-color);
  border: none;
  background-color: transparent;
  line-height: 1.14;
}
.footer__btn:hover, .footer__btn:focus {
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .footer__btn {
    font-size: 16px;
    line-height: 1.19;
  }
}
.footer__icon {
  margin-right: 10px;
  margin-left: 10px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 200ms, visibility 200ms;
}
.backdrop.is-hidden .modal {
  transform: scale(1.5);
}

.modal {
  width: 450px;
  height: 609px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 200ms;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  background-color: #fff;
}
.modal__close-btn:hover .modal__close-btn__icon, .modal__close-btn:focus .modal__close-btn__icon {
  fill: var(--accent-color);
}
.modal-form__field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
}
.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-form__field__input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.modal-form__field__input:hover, .modal-form__field__input:focus {
  border: 1px solid var(--accent-color);
}
.modal-form__field__input:hover + .modal-form__field__icon, .modal-form__field__input:focus + .modal-form__field__icon {
  fill: var(--accent-color);
}
.modal-form__field__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
}
.modal-form__field__text::-moz-placeholder {
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__field__text:-ms-input-placeholder {
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__field__text::placeholder {
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__field__text:hover, .modal-form__field__text:focus {
  border: 1px solid var(--accent-color);
}
.modal-form__field__check {
  position: absolute;
  top: 437px;
  left: 76.38px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.modal-form__field__check:checked + .modal-form__field__check-text::before {
  background-image: url(../images/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}
.modal-form__field__check-text {
  font-size: 12px;
  color: #757575;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .modal-form__field__check-text {
    font-size: 14px;
  }
}
.modal-form__field__check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8.38px;
  display: block;
  border-radius: 2px;
}
.modal-form__field {
  margin-bottom: 10px;
  position: relative;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form__field__top {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
  margin-bottom: 4px;
}

.modal-form__field__link {
  color: #2196f3;
}

textarea {
  resize: none;
  padding: 12px 16px;
}

@media screen and (min-width: 1px) and (max-width: 1199px) {
  .main {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
}

.photo-list__item {
  width: 450px;
  height: 404px;
  width: 100%;
  border: 1px solid #ececec;
  transition: background-color 200ms linear, box-shadow 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .photo-list__item {
    width: 353px;
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .photo-list__item {
    width: 370px;
    height: 404px;
  }
}
@media screen and (min-width: 1200px) {
  .photo-list__item {
    border: 1px solid #ececec;
    margin: 0 13px 28px 13px;
    flex-basis: calc(33.3333333333% - 30px);
  }
  .photo-list__item:nth-of-type(3n) {
    margin-right: 0;
  }
  .photo-list__item:nth-of-type(3n + 1) {
    margin-left: 0;
  }
  .photo-list__item:nth-last-of-type(-n + 3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .photo-list__item {
    border: 0.5px solid #ececec;
    flex-basis: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .photo-list__item:nth-of-type(2n) {
    margin-right: 0;
  }
  .photo-list__item:nth-last-of-type(1) {
    margin-bottom: 30px;
  }
  .photo-list__item:nth-last-of-type(9) {
    margin-bottom: 30px;
  }
}
.photo-list__item:hover, .photo-list__item:focus {
  box-shadow: 0px 1px 1px rgba(154, 144, 35, 0.12), 0px 4px 4px rgba(183, 158, 46, 0.06), 1px 4px 6px rgba(140, 140, 42, 0.16);
}
.photo-list__item:hover .photo-list__item__top {
  transform: translateY(0);
}
.photo-list__item:last-child {
  margin-bottom: 0;
}

button:active,
button:hover,
button:focus {
  cursor: pointer;
  background: var(--second-button-color);
}

.photo-list__item__wrap {
  position: relative;
  overflow: hidden;
}

.photo-list__item__top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.56;
  padding: 63px 24px;
  background-color: rgba(117, 114, 55, 0.303);
  transform: translateY(100%);
  transition: transform 200ms;
}

.photo-list__text {
  padding: 20px 24px 20px 24px;
  width: 450px;
  background-color: rgba(211, 197, 153, 0.303);
}
@media screen and (min-width: 768px) {
  .photo-list__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .photo-list__text {
    width: 370px;
  }
}

.photo-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: rgb(255, 196, 0);
}

.photo-list__pre-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgb(255, 254, 249);
  margin-top: 4px;
}

.portfolio-img {
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .portfolio-img {
    width: 353px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-img {
    width: 370px;
    height: 294px;
  }
}

.open-menu-btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}
.open-menu-btn:hover, .open-menu-btn:focus {
  background-color: transparent;
}

.open-menu-btn:hover .open-menu-btn__icon,
.open-menu-btn:focus .open-menu-btn__icon {
  fill: var(--accent-color);
}

.mob-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-menu__btn:hover, .mob-menu__btn:focus {
  background-color: #fff;
}
.mob-menu__btn:hover .mob-menu__btn__icon, .mob-menu__btn:focus .mob-menu__btn__icon {
  fill: var(--accent-color);
}

.main-title__btn {
  background-color: var(--accent-color);
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 40px;
  width: 200px;
  height: 50px;
  left: 140px;
  top: 292px;
  align-self: center;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  margin-top: 30px;
  align-self: start;
}
@media screen and (min-width: 1200px) {
  .main-title__btn {
    left: 700px;
    top: 430px;
    margin-top: 30px;
  }
}

button:active, button:hover {
  cursor: pointer;
  color: var(--first-text-color);
}

.modal-form__field__submit-btn {
  position: absolute;
  top: 519px;
  left: 125px;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  width: 200px;
  height: 50px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .modal-form__field__submit-btn {
    top: 491px;
    left: 164px;
  }
}
.modal-form__field__submit-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.kinds-list__btn {
  background-color: var(--first-button-color);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  margin-right: 8px;
  transition: color 200ms linear, background-color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--third-text-color);
}
.kinds-list__btn:hover, .kinds-list__btn:active, .kinds-list__btn:focus {
  color: var(--first-text-color);
}

.subscribe-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
  background-color: var(--accent-color);
  border: none;
  letter-spacing: 0.03em;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  transition: background-color 200ms linear, color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscribe-form__btn {
    margin-top: 0;
  }
}
@media screen and (min-width: 1px) and (max-width: 1199px) {
  .subscribe-form__btn {
    margin-top: 20px;
  }
}

.main-blog_btn-block_btn {
  background-color: var(--accent-color);
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 40px;
  width: 200px;
  height: 50px;
  left: 140px;
  top: 292px;
  align-self: center;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  margin-top: 30px;
  margin-bottom: 20px;
  align-self: start;
}
@media screen and (min-width: 1200px) {
  .main-blog_btn-block_btn {
    margin-top: 30px;
  }
}

button:active, button:hover {
  cursor: pointer;
  color: var(--first-text-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container-1 {
    width: 262px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-1 {
    width: 320px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container-1 {
    width: 500px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 480px) {
  .container-2 {
    width: 249px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .container-2 {
    width: 364.8px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container-2 {
    width: 570px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.container-3 {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container-3 {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container-3 {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container-3 {
    width: 1200px;
  }
}

/* Import font */
/* Custom properties */
:root {
  --light-color: #fff;
  --light-color-alt: #afb6cd;
  --primary-background-color: #131417;
  --secondary-background-color: #252830;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --transparent-light-color: rgba(255,255,255,.05);
  --transparent-dark-color: rgba(0,0,0,.75);
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--light-color-alt);
  background-color: var(--primary-background-color);
  letter-spacing: 1px;
  transition: background-color 0.25s, color 0.25s;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

i {
  font-size: var(--font-size-md);
}

.main-blog {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main-blog_block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .main-blog_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }
}
.main-blog_title {
  font-family: "Inconsolata", monospace;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  width: 360px;
}
@media screen and (min-width: 1200px) {
  .main-blog_title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
    left: 452px;
    text-align: left;
  }
}
@media screen and (max-width: 1200px) {
  .main-blog_title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.main-blog_text {
  margin-bottom: 15px;
}
.main-blog_pic {
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .main-blog_pic {
    display: none;
  }
}

.blog-post {
  padding-bottom: 5rem;
}

.blog-post-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 2.5rem;
}

.blog-post-title {
  font-size: clamp(3rem, 5vw, 6rem);
  margin-bottom: 30px;
  color: #fff;
}

.blog-post-data .article-data {
  margin-bottom: 30px;
}

.blog-post-data img {
  height: var(--item-min-height-sm);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 10%;
     object-position: center 10%;
}

.blog-post-container .container {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 90rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.quote {
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  padding: 2.5rem;
}

.quote p {
  color: #fff;
  font-style: italic;
}

.quote span {
  font-size: 5px;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .blog-post-data img {
    height: var(--item-min-height-md);
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    position: static;
    width: initial;
    padding: initial;
    background-color: transparent;
    opacity: 1;
    transform: scale(1);
  }
  .menu > .list {
    flex-direction: row;
  }
  .screen-lg-hidden {
    display: none;
  }
  .screen-sm-hidden {
    display: block;
  }
  .sign-up-btn {
    padding: 4px;
  }
  /* Fancy button animation effect */
}
.main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.kinds__photo {
  display: flex;
  justify-content: space-between;
}

.kinds__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.kinds-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .kinds-list {
    display: flex;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .kinds-list {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1px) and (max-width: 767px) {
  .kinds-list__item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .kinds-list__item .kinds-list__item:nth-of-type(3) {
    margin-right: 0;
  }
  .kinds-list__item .kinds-list__item:nth-of-type(5) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .kinds-list__item .kinds-list__item:nth-of-type(4) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1439px) {
  .services_block {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.services_head {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/image_3.png");
}
@media screen and (min-width: 1200px) {
  .services_head {
    align-items: flex-start;
    padding-left: 40px;
  }
}

.services_head h2 {
  font-weight: normal;
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: 37px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  width: 696px;
  height: 120px;
  left: 452px;
}
@media screen and (min-width: 1200px) {
  .services_head h2 {
    text-align: left;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
    left: 452px;
  }
}

.services_head p {
  font-size: 25px;
  margin-top: 25px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: #fff;
}

.services_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 135px;
}

.services_block-item {
  margin: 20px;
  background: #F1F1F2;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 270px;
  height: 420px;
}

.services_block-item a {
  height: 420px;
  background: white;
  position: relative;
}

.services_block-item a:hover {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: 0.5s ease-in;
}

.services_block-item img {
  height: 250px;
  max-width: 270px;
}

.services_block-item-name {
  font-size: 25px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: black;
}

.seeMore {
  position: absolute;
  top: 370px;
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: 25px;
  color: black;
}
.seeMore:hover, .seeMore :focus {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */