<div class="background">
  <header class="header" id="home">
    <div class="container">
      <div class="menu__flex">
        <a href="" class="logo__link"> <img src="images/logo.png" alt="" class="logo__link" /></a>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#home" class="nav__link nav__link--curent">Home</a></li>
            <li class="nav__item"><a href="#advantages" class="nav__link">About us</a></li>
            <li class="nav__item"><a href="#about" class="nav__link">How it’s made?</a></li>
            <li class="nav__item"><a href="#products" class="nav__link">Our products</a></li>
            <li class="nav__item"><a href="#contacts" class="nav__link">Contact</a></li>
          </ul>
        </nav>
        <button type="button" class="menu__btn js-open-menu">
          <svg class="menu__icon" width="20" height="12">
            <use href="images/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <div class="buy-now">
          <button type="button" class="buy-now__btn" data-modal-open>Buy now</button>
          <svg class="buy-now__icon" width="6" height="10">
            <use href="images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="mob-menu js-menu-container">
      <button
        type="button"
        class="mob-menu__close-btn js-close-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mob-menu__close-icon" aria-label="Переключатель мобильного меню">
          <use href="./images/icons.svg#icon-icon-close"></use>
        </svg>
      </button>
      <div class="buy-now buy-now--mob">
        <button type="button" class="buy-now__btn buy-now__btn--mob" data--mob-modal-open>
          Buy now
        </button>
        <svg class="buy-now__icon buy-now__icon--mob" width="6" height="10">
          <use href="images/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
      <ul class="mob-menu__list">
        <li class="mob-menu__item">
          <a href="#home" class="mob-menu__link mob-menu__link--curent">Home</a>
        </li>
        <li class="mob-menu__item"><a href="#advantages" class="mob-menu__link">About us</a></li>
        <li class="mob-menu__item"><a href="#about" class="mob-menu__link">How it’s made?</a></li>
        <li class="mob-menu__item">
          <a href="#products" class="mob-menu__link">Our products</a>
        </li>
        <li class="mob-menu__item"><a href="#contacts" class="mob-menu__link">Contact</a></li>
      </ul>
    </div>
  </header>
  <section class="hero">
    <div class="container">
      <div class="flex-hero">
        <div class="flex-hero__left">
          <h1 class="hero__title">
            ice cream <br />
            made with <br /><span class="hero__passion">passion</span>
          </h1>
          <ul class="hero__list">
            <li class="hero__item">
              <a href="#products" class="hero__link hero__link--product">Products</a>
            </li>
            <li class="hero__item">
              <a href="#about" class="hero__link hero__link--made">How it’s made?</a>
            </li>
          </ul>
        </div>
        <div class="flex-hero__right">
          <ul class="hero-right__list">
            <li class="hero-right__item">
              <span class="hero-right__number">16</span>
              <p class="hero-right__text">cafes</p>
            </li>
            <li class="hero-right__item">
              <span class="hero-right__number">23</span>
              <p class="hero-right__text">food trucks</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="hero-description">
        <p class="hero-description__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="hero-description__btn">
          <svg class="hero-description__icon">
            <use href="images/icons.svg#icon-arrow-right-new"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
</div>
