<section class="product" id="products">
  <div class="container">
    <p class="product__pre-title">100% natural</p>
    <h2 class="product__title">products</h2>
    <ul class="produsct__list">
      <li class="product__card product__card--first">
        <h3 class="product__name">ice cream</h3>
        <div class="product__meta">
          <p class="product__main">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
          <p class="product__addition hide">additional information about product</p>
        </div>
        <div class="btn-wrap">
          <button type="button" class="product__btn btn">
            <svg class="btn__icon"><use href="images/icons.svg#icon-arrow-right-new"></use></svg>
          </button>
        </div>
      </li>
      <li class="product__card product__card--second">
        <h3 class="product__name">ice coffee</h3>
        <div class="product__meta">
          <p class="product__main">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
          <p class="product__addition hide">additional information about product</p>
        </div>
        <div class="btn-wrap">
          <button type="button" class="product__btn btn">
            <svg class="btn__icon"><use href="images/icons.svg#icon-arrow-right-new"></use></svg>
          </button>
        </div>
      </li>
      <li class="product__card product__card--third">
        <h3 class="product__name">milkshakes</h3>
        <div class="product__meta">
          <p class="product__main">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
          <p class="product__addition hide">additional information about product</p>
        </div>
        <div class="btn-wrap">
          <button type="button" class="product__btn btn">
            <svg class="btn__icon"><use href="images/icons.svg#icon-arrow-right-new"></use></svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
